@import "./base/reset.css";
@import "./components/font-awesome.min.css";
@import "./components/buttons.css";

:root {
  --primary-clr: #ff5e61;
}

body {
  display: flex;
  flex-direction: column;
  gap: 60px;
  align-items: center;
}

header {
  padding-top: 15px;
}

.logo {
  max-height: 40px;
}

.nav {
  display: flex;
  align-items: center;
  gap: 20px;
}

.nav > a {
  font-size: 17px;
  color: #000;
  text-decoration: none;
}

.nav > a:hover {
  color: var(--primary-clr);
  text-decoration: underline;
}

.nav + .nav {
  margin-left: 30px;
}

.container {
  display: flex;
  justify-content: flex-end;
  width: 1000px;
}

.header {
  flex-wrap: wrap;
}

.container > *:first-child {
  margin-right: auto;
}

.leftContent {
  margin-right: auto;
  width: 55%;
  position: relative;
  padding: 0 20px;
}

.leftContent > a.fa {
  position: absolute;
  font-size: 20px;
  width: 40px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  text-decoration: none;
  border-radius: 20px;
  top: 50%;
  color: #fff;
  background-color: var(--primary-clr);
}

.leftContent > .fa-angle-left {
  left: 0;
  padding-right: 3px;
}

.leftContent > .fa-angle-right {
  right: 0;
  padding-left: 3px;
}

.image {
  width: 100%;
}

.rightContent {
  width: 40%;

  display: flex;
  flex-direction: column;
  gap: 25px;
}

.category {
  font-size: 20px;
  font-weight: bold;
  color: var(--primary-clr);
}

.title {
  font-size: 45px;
  font-weight: bold;
}

.description {
  font-size: 14px;
}

.list-section {
  display: flex;
  gap: 20px;
}

.list {
  font-size: 15px;
}

.list-title {
  font-size: 20px;
  margin-bottom: 30px;
}
a.btn {
  width: 7.8em;
}

.list {
  display: flex;
  gap: 1em;
  list-style: none;
  /* list-style: inside url(../img/plus.png); */
}
.leftList > .list {
  flex-direction: column;
}
.leftList > .list > li::before {
  content: "+";
  display: inline-block;
  font-size: 1.5em;
  color: red;
  margin-right: 0.7em;
}

.rightList > .list {
  list-style: none;
}

.rightList .berry {
}
.rightList li {
  display: inline-block;
  content: "";
  width: 4em;
  height: 4em;
  border-radius: 2em;

  background-color: #fcc7d6;
}

.berry {
  transform: translate(20%, 20%);
}

@media (max-width: 900px) {
  .container {
    width: 600px;
  }
}

@media (max-width: 700px) {
  .container {
    width: 400px;
  }
  main.container {
    flex-direction: column;
  }
  .leftContent,
  .rightContent {
    width: 100%;
  }
}

@media (max-width: 500px) {
  .container {
    width: 300px;
  }
  .list-section {
    flex-direction: column;
  }
}

@media (max-width: 320px) {
  .container {
    width: 100%;
  }
}
