@import "./base/reset.css";
@import "./components/font-awesome.min.css";
@import "./components/buttons.css";

:root {
  --primary-clr: #ff5e61;
}

body {
  display: flex;
  flex-direction: column;
  gap: 60px;
  align-items: center;
}

header {
  padding-top: 15px;
}

.logo {
  max-height: 40px;
  object-fit: contain;
}

.nav {
  display: flex;
  align-items: center;
  gap: 20px;
}

.nav > a {
  font-size: 17px;
  color: #000;
  text-decoration: none;
}

.nav > a:hover {
  color: var(--primary-clr);
  text-decoration: underline;
}

.fa.fa-bars {
  font-size: 1.5em;
  display: none;
  padding: 0.8em;
  cursor: pointer;
}

.fa.fa-bars:hover {
  color: #ff5e61;
}

.nav + .nav {
  margin-left: 30px;
}

.menu {
  margin-top: 260px;
}

.menu .header {
  background-color: #fff;
  padding-top: 0;
  position: fixed;
  top: 0;
  z-index: 1;
  flex-direction: row;
  justify-content: space-between;
  /* position: relative; */
}

.menu .logo {
  background-color: #fff;
  padding: 1em 0;
  margin-bottom: 0;
  /* left: 30px; */
  max-height: 60px;
  width: 100%;
  object-fit: contain;
  object-position: left;
  z-index: 1;
}

.menu .nav {
  background-color: #fff;
  width: 100%;
  top: 44px;
  left: 0;
  text-align: center;
  display: flex;
  position: fixed;
  margin: 0;
  flex-wrap: nowrap;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 1;
  gap: 0;
}

.menu .nav + .nav {
  top: 164px;
  /* gap: 20px; */
}

.menu .nav a {
  padding: 10px 0;
  width: 100vw;
}

.menu .nav a:hover {
  background-color: #fcc7d6;
  text-decoration: none;
  color: rgb(0, 0, 0);
}

.container {
  display: flex;
  justify-content: flex-end;
  width: 1000px;
}

.container > *:first-child {
  margin-right: auto;
}

.leftContent {
  margin-right: auto;
  width: 55%;
  position: relative;
  padding: 0 20px;
}

.leftContent > a.fa {
  position: absolute;
  font-size: 20px;
  width: 40px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  text-decoration: none;
  border-radius: 20px;
  top: 50%;
  color: #fff;
  background-color: var(--primary-clr);
}

.leftContent > .fa-angle-left {
  left: 0;
  padding-right: 3px;
}

.leftContent > .fa-angle-right {
  right: 0;
  padding-left: 3px;
}

.image {
  width: 100%;
}

.rightContent {
  width: 40%;

  display: flex;
  flex-direction: column;
  gap: 25px;
}

.category {
  font-size: 20px;
  font-weight: bold;
  color: var(--primary-clr);
}

.title {
  font-size: 45px;
  font-weight: bold;
}

.description {
  font-size: 14px;
}

.list-section {
  display: flex;
  gap: 20px;
}

.list {
  font-size: 15px;
}

.list-title {
  font-size: 20px;
  margin-bottom: 30px;
}
a.btn {
  width: 8.5em;
  text-align: center;
  border-radius: 4.25em;
}

.list {
  display: flex;
  gap: 1em;
  list-style: none;
  /* list-style: inside url(../img/plus.png); */
}
.leftList > .list {
  flex-direction: column;
}
.leftList > .list > li::before {
  content: "+";
  display: inline-block;
  font-size: 1.5em;
  color: red;
  margin-right: 0.7em;
}

.rightList > .list {
  list-style: none;
}

.rightList li {
  display: inline-block;
  content: "";
  width: 4em;
  height: 4em;
  border-radius: 2em;

  background-color: #fcc7d6;
}

.list-section {
  margin-bottom: 20px;
}

.berry {
  transform: translate(20%, 20%);
}

.container + .container {
  margin-bottom: 30px;
}

@media (max-width: 1100px) {
  .container {
    width: 800px;
  }
}

@media (max-width: 900px) {
  .container {
    width: 600px;
  }

  .list-section {
    flex-direction: column;
  }

  .leftContent > a.fa {
    top: 25%;
  }
}

@media (max-width: 700px) {
  .container {
    width: 400px;
  }
  main.container {
    flex-direction: column;
  }
  .leftContent,
  .rightContent {
    width: 100%;
  }
  .leftContent > a.fa {
    top: 50%;
  }

  .nav {
    display: none;
  }

  .fa.fa-bars {
    display: inline-block;
  }
}

@media (max-width: 500px) {
  .container {
    width: 300px;
  }
  .list-section {
    flex-direction: column;
  }
}

@media (max-width: 320px) {
  .container {
    width: 100%;
    padding: 7%;
  }
}
